:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 100%;

  --background-color: #213448;
  --dark-color: #547792;
  --light-color: #94b4c1;
  --text-light: #ecefca;
  --text-emphasis: #ec5757;
  --white-color: #ffffff;
  --black-color: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
